.todoform{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  display: flex;
  flex-direction:row;
}

.form input{
   margin: 1rem;
   width:45vw;;
   padding: 0.5rem;
   border-radius: 0.2rem;
 }

.form .button{
  width: 14vw;
  height: 2.5rem;
  background: black;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  font-size: 0.8rem;
}

.form .button:hover{
  background: white;
  color:black;
  cursor:pointer;
}
